/* canvas */
.notepad-container {
  width: 100%;
  height: 100%;
}
.header-container {
  display: flex;
  background-color: #94a3b8;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-empty {
  width: 30%;
}
.header-title {
  display: flex;
  justify-content: center;
  width: 60%;
}
.header-title > h1 {
  padding: 0.5em 0;
  font-weight: 700;
  font-size: 2rem;
  font-family: Helvetica;
  color: white;
}
.header-links {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-self: center;
  margin-right: 4em;
}
.link-save {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.link-save > img {
  width: 100%;
  height: 100%;
}
.download-container {
  width: 25px;
  height: 25px;
}
.link-download {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 1em;
}
.link-download > img {
  width: 100%;
  height: 100%;
}
canvas {
  /* background-image: url("../../../public/x.svg"); */
  background-image: url("/x.svg");
  background-size: 50%;
  width: 100%;
  height: 100%;
}
.canvas-container {
  position: relative;
}
.fileUpload {
  display: none;
}
